.coupon__wrapper-style-2 {
  .coupon__wrapper-style {
    position: relative;
    display: flex;
    background: linear-gradient(115deg, rgba(186, 162, 218, 1), rgba(173, 178, 214, 1), rgba(192, 203, 190, 1));

    &-circle {
      display: none;
    }

    &-item {
      border-left: 1px dashed rgba(255, 255, 255, 1);
      min-width: 33%;
      background-size: 43px;
      background-position: 90% -10px;
      background-repeat: no-repeat;
      padding: 10px 0;


      &__disable {
        background-image: url("http://img.wkdao.com/image/65/2020/07/18/725813873f2bc014875e6ba95b4e3477.png");

        .coupon__wrapper-style-item-btn {
          background: #9A8FC5;
          color: #E4DCFB;
        }
      }

      &__has {
        background-image: url("http://img.wkdao.com/image/65/2020/07/18/153dc1b9c8d86f47d4a45a4ee0d1a7c9.png");
      }

      &-price {
        text-align: center;
        height: 40px;
        line-height: 40px;

        span {
          font-size: 36px;
          font-weight: bold;
          color: #fff;
          vertical-align: top;
        }

        .__icon {
          position: relative;
          // top: 6px;
          font-size: 27/2 * 1px;
          font-weight: normal;
          color: #fff;
          line-height: 64/2 * 1px;
        }
      }

      &-up {
        font-size: 24/2 * 1px;
        text-align: center;
        font-weight: 400;
        color: #fff;
        line-height: 47/2 * 1px;
        background: url('http://img.wkdao.com/image/65/2020/07/18/db6866ec05765ef1b7d886fc0b9cb61d.png');
        background-repeat: no-repeat;
        background-position: center 86%;
        background-size: 50px;
      }

      &-btn {
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        width: 145/2 * 1px;
        height: 20px;
        line-height: 20px;
        background: #fff;
        border-radius: 10px;
        color: #5B55AD;
      }
    }
  }
}
